.headerText{
	display: flex;
	font-size: 4em;
	justify-content: center;
	margin-top: 2em;

}

.Body{
	margin-left: 3em;
	margin-right: 3em;
	font-size: 1.5em;
}

.navBar{
	display: flex;
	justify-content: flex-end;
	margin-right: 2.5em;
	font-size: 1.5em;
}

.navBar li {
	display: inline-block;
	padding-right: 2em;
}

.archiveCategories{
	display: flex;
	justify-content: space-between;
}